body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(151, 185, 87)
}

.grid {
    width: 400px;
    height: 300px;
    background: radial-gradient(
    circle,
    rgb(171, 204, 103) 0%,
    rgb(151, 185, 87) 95%,
    rgb(151, 185, 87) 100%
  );
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: rgb(42,51,27);
    border-width: thick;
    position: relative;
    margin: auto;
}

.grid  div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: rgb(42,51,27);
    border-radius: 20%;
}

.food {
    background-color: red;
    border-radius: 50%;
}
