.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(151, 185, 87);
    margin: 20px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    align-items: center;
    margin-bottom: 20px;
}

.start, .score {
    margin: 5px;
}

.grid {
    width: 600px;
    height: 450px;
    background: radial-gradient(
    circle,
    rgb(171, 204, 103) 0%,
    rgb(171, 204, 103) 60%,
    rgb(151, 185, 87) 95%,
    rgb(151, 185, 87) 100%
  );
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: rgb(42,51,27);
    border-width: thick;
    position: relative;
    margin: 20;
}

.grid  div {
    width: 30px;
    height: 30px;
}

.snake {
    background-color: rgb(42,51,27);
    border-radius: 20%;
}

.food {
    background-color: red;
    border-radius: 50%;
}


