body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    position: relative;
    margin: auto;
}

.grid  div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
    border-radius: 20%;
}

.food {
    background-color: red;
    border-radius: 50%;
}
